h1 
{
    margin-bottom: 2rem;
    color: white;
}
  
  .checkbox 
  {
    transform: scale(2);
    -webkit-transform: scale(2);
  }
  svg 
  {
    cursor: pointer;
  }
  
  .items-container 
  {
    margin-top: 2rem;
    border: 1px solid lightgrey;
    background-color: white;
  }
  
  .item 
  {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
  }
  
  .footer 
  {
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  
  .footer button 
  {
    margin-right: 0.5rem;;
  }

  .item .selected 
  {
    text-decoration: line-through;
    color: lightgrey;

  }