<template>
    <div>
          <b-container>
            <header>
                <h1>TO DO LIST</h1>
            </header>

            <b-row  align-v="center" align-h="center" >           
                    <b-col col lg="6" class="items-container">
                        <b-row class="item" align-v="center" align-h="center">
                            <b-form-checkbox class="checkbox"  
                                             @change="checkAllTasks" 
                                             v-model="newItem.status" 
                                             unchecked-value="not-selected"
                                             value="selected" />
                            <b-col col lg="11">
                                <b-form-input v-model="newItem.task"
                                              placeholder="Add a Task" 
                                              @keyup.enter="addTask">
                                </b-form-input>
                            </b-col>
                        </b-row>
                    </b-col>
            </b-row>

            <b-row  align-v="center" align-h="center" >
                    <b-col col lg="6" class="items-container">
                        <b-row class="item" align-v="center" align-h="around" v-for="(item, idx) in filteredTasks" :key="idx" >
                            <b-form-checkbox class="checkbox"
                                             v-model="item.status"
                                             unchecked-value="not-selected"
                                             value="selected"/>    
                            <b-col col lg="10">
                                <b-form-input :value="item.task" :class="item.status"></b-form-input>
                            </b-col>
                            <b-icon icon="x-circle" 
                                    @click="removeTask(item)"
                                    font-scale="1.5" 
                                    variant="danger">
                            </b-icon>
                        </b-row>
                        <b-row class="footer" align-v="center" align-h="between" >
                            <span v-if="totalTasks != 1">{{ totalTasks }} tasks left</span>
                            <span v-else>{{ totalTasks }} task left</span>
                            
                            <b-col>
                                <b-button variant="outline-secondary" 
                                          @click="filterTasks('')" >All
                                </b-button>
                                <b-button variant="outline-secondary" 
                                          @click="filterTasks('selected')">Active
                                </b-button>
                                <b-button variant="outline-secondary" 
                                          @click="filterTasks('not-selected')">Completed
                                </b-button>
                            </b-col>

                        </b-row>


                    </b-col>
                            
            </b-row>

        </b-container>

    </div>
</template>
<script src="./ToDoList.js"></script>
<style lang="css" src="./style.css"></style>